#panel {
    background-color: rgb(13, 0, 255);
    display: block;
}

a {
    color: white;
    padding: 5px;
    display: flex;
}

main {
    display: flex;
    justify-content: center;
}

input {
    display: block;
    width: 300px;
    height: 40px;
}

div {
    justify-content: center;
    display: flex;
}