{{ define "base" }}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav id="panel">
        <a href="/"><h3>distributed calculator</h3></a>
        <a href="/settings"><h3>settings</h3></a>
        <a href="/register"><h3>register</h3></a>
        <a href="/login"><h3>login</h3></a>
        <a href="/exit"><h3>exit</h3></a>
    </nav>
    <br>

{{ end }}